* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    297deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(133, 143, 157, 1) 13%,
    rgba(224, 242, 242, 1) 56%,
    rgba(160, 222, 233, 1) 61%,
    rgba(58, 190, 218, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin: 20px;
  padding-top: 2rem;
  font-family: "Dancing Script", cursive;
}

.main {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 5px;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  gap: 5px;
  /* border: 2px solid red; */
  /* justify-content: space-between; */
}

/* .inputText {
  width: 80%;
  display: flex;
  gap: 5px;
  border: 2px solid green;
} */
input {
  width: 60%;
  height: 3rem;
  font-size: 95%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid gray;
}
button {
  /* height: 2rem; */
  /* width: 10%; */
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 10px;
  transition: transform 0.5s;
}
button:hover {
  background-color: bisque;
}
button:active,
.fa-check:active {
  transform: scale(0.9);
}
.total {
  background-color: rgb(3, 41, 73);
  color: white;
  border-radius: 10px;
  padding: 5px;
}
.addedToDo {
  margin-left: 13%;
  color: rgb(182, 3, 3);
  /* border: 2px dotted orange; */
  border-radius: 10px;
  font-size: 150%;
  padding: 10px;
  list-style-type: none;
  width: 60%;
}
.addedToDo li {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.4rem;
  background-color: rgba(240, 255, 255, 0.474);
  border-radius: 5px;
  margin: 7px;
  position: relative;
  box-shadow: 5px 5px rgb(191, 247, 199);
}
.addedToDo li :nth-child(3) {
  position: absolute;
  right: 1rem;
}
.addedToDo li :nth-child(2) {
  padding-left: 5%;
  padding-right: 5%;
  display: inline-flex;
}
.fa-check {
  /* border: 2px solid red; */
  color: orange;
}
.fa-check:hover {
  color: green;
}

.fa-trash {
  color: rgb(54, 185, 6);
}

.fa-trash:hover {
  color: orange;
}
.fa-trash:active {
  animation: trash 0.3s;
}

@keyframes trash {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 900px) {
  .main {
    width: 90%;
  }
  .addedToDo {
    width: 90%;
    margin-left: 2%;
  }
}
